.logoutButton {
  position: absolute;
  right: 0.5em;
  top: 1em;
}

.add-product {
  position: absolute;
  right: 14em;
  top: 1em;
}

.homeTag {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.homeTagLogout {
  font-size: 20px;
  font-weight: bold;
  color: white;
  position: relative;
  bottom: 20px;
}

.homeForm {
  position: absolute;
  top: 1em;
}

.active-purple-4 input[type="text"]:focus:not([readonly]) {
  border: 1px solid #ce93d8;
  box-shadow: 0 0 0 1px #ce93d8;
}

.searchForm {
  position: relative;
  left: 8em;
  top: 12px;
}

.searchFormButton {
  position: relative;
  left: 9em;
  top: 12px;
}

.logoutTag {
  font-size: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.header {
  background: #000 !important;
}

.headerText {
  color: #fff !important;
}

.shopping-cart {
  color: white;
  position: absolute;
  right: 9em;
  top: 1em;
  cursor: pointer;
}

.shopping-cart-image {
  height: 40px;
  width: 40px;
  margin-top: -20px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
}

.shopping-cart h5 {
  color: white;
}

.shopping-cart h5:hover {
  text-decoration: none !important;
}

.shopping-cart h5:link {
  text-decoration: none !important;
}

.shopping-cart h5:visited {
  text-decoration: none !important;
}

.shopping-cart h5:active {
  text-decoration: none !important;
}
